.login-button {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.input-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input-box input {
  width: 150px;
  height: 25px;
  margin-left: 10px;
}

.menu-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.hovered {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.product-img {
  width: 300px;
  height: 450px;
}

.selected-item {
  display: flex;
}

.selected-item img {
  width: 200px;
  height: 300px;
  margin-right: 20px;
}

@media only screen and (max-width: 1030px) {
  .menu-area {
    background-color: beige;
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1031px) {
  .input-box {
    display: flex;
    position: absolute;
    right: 20px;
  }
}
